<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>$title</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/gallery.css">
</head>

<body>

  <h1>$title</h1>

  <div class="container">
    <div class="grid">
      $albums
    </div>
  </div>

</body>

</html>
